# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependencias globales
npm-global/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
*.log.*

# Directorios y archivos de compilación
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/

# OS
*.swp
